 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  background-color: #0f0f0f;
  color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
 }

 img {
  max-width: 100%;
  display: block;
}